In [72]:
import pandas as pd
import numpy as np
from tqdm import tqdm

train_df = pd.read_csv('Train_df.csv')
Start_df = pd.read_csv('Start_df.csv')
Turn_df = pd.read_csv('Turn_df.csv')
Walk_df = pd.read_csv('Walk_df.csv')

In [73]:
person_idx = list(train_df[train_df['Time'] == 0]['Unnamed: 0'])

In [74]:
count = 0
person = [0]
for i in tqdm(range(1, train_df.shape[0])):
    if i in person_idx:
        count += 1
    person.append(count)


# [person_idx]

# train['person'] =

100%|██████████| 11153201/11153201 [01:21<00:00, 136972.81it/s]

In [75]:
train_df['person'] = person
# train_df.groupby(['person']).sort("time")

In [80]:
del train_df['Unnamed: 0']

In [81]:
train_df['SAge'] = train_df['Age'] - train_df['YearsSinceDx']
train_df

,Time,AccV,AccML,AccAP,Medication,Age,Sex,YearsSinceDx,NFOGQ,person,SAge
0,0,-9.665890,0.042550,0.184744,0,66,1,9.0,13,0,57.0
1,1,-9.672969,0.049217,0.184644,0,66,1,9.0,13,0,57.0
2,2,-9.670260,0.033620,0.193790,0,66,1,9.0,13,0,57.0
3,3,-9.673356,0.035159,0.184369,0,66,1,9.0,13,0,57.0
4,4,-9.671458,0.043913,0.197814,0,66,1,9.0,13,0,57.0
...,...,...,...,...,...,...,...,...,...,...,...
11153197,108120,-0.978999,0.043111,-0.392852,0,61,0,7.0,22,832,54.0
11153198,108121,-0.949352,0.016142,-0.362455,0,61,0,7.0,22,832,54.0
11153199,108122,-0.909800,-0.007553,-0.364498,0,61,0,7.0,22,832,54.0
11153200,108123,-0.882329,-0.022470,-0.374119,0,61,0,7.0,22,832,54.0
11153201,108124,-0.875137,-0.038889,-0.369337,0,61,0,7.0,22,832,54.0

In [86]:
mean_AccV, std_AccV = [], []
train_df_2 = pd.DataFrame()

for i in tqdm(range(count+1)):
    
    tmp_df = train_df[train_df['person'] == i].copy()
    
    tmp_df['AccV_Ch'] = (tmp_df['AccV'] - tmp_df['AccV'].shift()).fillna(0)
    tmp_df['AccML_Ch'] = (tmp_df['AccML'] - tmp_df['AccML'].shift()).fillna(0)
    tmp_df['AccAP_Ch'] = (tmp_df['AccAP'] - tmp_df['AccAP'].shift()).fillna(0)
    
    tmp_df['AccV_Ch_abs'] = tmp_df['AccV_Ch'].abs()
    tmp_df['AccML_Ch_abs'] = tmp_df['AccML_Ch'].abs()
    tmp_df['AccAP_Ch_abs'] = tmp_df['AccAP_Ch'].abs()
    
    tmp_means = tmp_df.mean(axis=0)
    tmp_stds = tmp_df.std(axis=0)
    
    tmp_df.loc[:,'AccV_mean'] = tmp_means['AccV']
    tmp_df.loc[:,'AccML_mean'] = tmp_means['AccML']
    tmp_df.loc[:,'AccAP_mean'] = tmp_means['AccAP']
    tmp_df.loc[:, 'AccV_Ch_mean'] = tmp_means['AccV_Ch']
    tmp_df.loc[:, 'AccML_Ch_mean'] = tmp_means['AccML_Ch']
    tmp_df.loc[:, 'AccAP_Ch_mean'] = tmp_means['AccAP_Ch']
    tmp_df.loc[:, 'AccV_Ch_abs_mean'] = tmp_means['AccV_Ch_abs']
    tmp_df.loc[:, 'AccML_Ch_abs_mean'] = tmp_means['AccML_Ch_abs']
    tmp_df.loc[:, 'AccAP_Ch_abs_mean'] = tmp_means['AccAP_Ch_abs']

    tmp_df.loc[:,'AccV_std'] = tmp_stds['AccV']
    tmp_df.loc[:,'AccML_std'] = tmp_stds['AccML']
    tmp_df.loc[:,'AccAP_std'] = tmp_stds['AccAP']
    tmp_df.loc[:, 'AccV_Ch_std'] = tmp_stds['AccV_Ch']
    tmp_df.loc[:, 'AccML_Ch_std'] = tmp_stds['AccML_Ch']
    tmp_df.loc[:, 'AccAP_Ch_std'] = tmp_stds['AccAP_Ch']
    tmp_df.loc[:, 'AccV_Ch_abs_std'] = tmp_stds['AccV_Ch_abs']
    tmp_df.loc[:, 'AccML_Ch_abs_std'] = tmp_stds['AccML_Ch_abs']
    tmp_df.loc[:, 'AccAP_Ch_abs_std'] = tmp_stds['AccAP_Ch_abs']
   
    # tmp_df.loc[:,'AccV_std'] = tmp_stds[2]
    # tmp_df.loc[:,'AccML_std'] = tmp_stds[3]
    # tmp_df.loc[:,'AccAP_std'] = tmp_stds[4]
    
    # tmp_df = pd.concat([train_df, tmp_df],axis=1, join='inner')
    train_df_2 = pd.concat([train_df_2, tmp_df], axis=0)
    # break

100%|██████████| 833/833 [05:39<00:00,  2.46it/s]

In [87]:
train_df_2

,Time,AccV,AccML,AccAP,Medication,Age,Sex,YearsSinceDx,NFOGQ,person,...,AccAP_Ch_abs_mean,AccV_std,AccML_std,AccAP_std,AccV_Ch_std,AccML_Ch_std,AccAP_Ch_std,AccV_Ch_abs_std,AccML_Ch_abs_std,AccAP_Ch_abs_std
0,0,-9.665890,0.042550,0.184744,0,66,1,9.0,13,0,...,0.481079,1.352304,1.364697,1.740077,0.574553,0.447013,0.901297,0.473500,0.361110,0.762147
1,1,-9.672969,0.049217,0.184644,0,66,1,9.0,13,0,...,0.481079,1.352304,1.364697,1.740077,0.574553,0.447013,0.901297,0.473500,0.361110,0.762147
2,2,-9.670260,0.033620,0.193790,0,66,1,9.0,13,0,...,0.481079,1.352304,1.364697,1.740077,0.574553,0.447013,0.901297,0.473500,0.361110,0.762147
3,3,-9.673356,0.035159,0.184369,0,66,1,9.0,13,0,...,0.481079,1.352304,1.364697,1.740077,0.574553,0.447013,0.901297,0.473500,0.361110,0.762147
4,4,-9.671458,0.043913,0.197814,0,66,1,9.0,13,0,...,0.481079,1.352304,1.364697,1.740077,0.574553,0.447013,0.901297,0.473500,0.361110,0.762147
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11153197,108120,-0.978999,0.043111,-0.392852,0,61,0,7.0,22,832,...,0.013135,0.318165,0.148556,0.268654,0.047472,0.038745,0.035841,0.044072,0.034595,0.033348
11153198,108121,-0.949352,0.016142,-0.362455,0,61,0,7.0,22,832,...,0.013135,0.318165,0.148556,0.268654,0.047472,0.038745,0.035841,0.044072,0.034595,0.033348
11153199,108122,-0.909800,-0.007553,-0.364498,0,61,0,7.0,22,832,...,0.013135,0.318165,0.148556,0.268654,0.047472,0.038745,0.035841,0.044072,0.034595,0.033348
11153200,108123,-0.882329,-0.022470,-0.374119,0,61,0,7.0,22,832,...,0.013135,0.318165,0.148556,0.268654,0.047472,0.038745,0.035841,0.044072,0.034595,0.033348
11153201,108124,-0.875137,-0.038889,-0.369337,0,61,0,7.0,22,832,...,0.013135,0.318165,0.148556,0.268654,0.047472,0.038745,0.035841,0.044072,0.034595,0.033348

In [88]:
train_df_2.shape

(11153202, 35)

In [100]:
# train_df_2.to_csv('train_features.csv', index= False)
train_df_2.to_parquet('train_features.parquet', index= False)

# Start

In [89]:
Start_df

          Unnamed: 0  StartHesitation
0                  0                0
1                  1                0
2                  2                0
3                  3                0
4                  4                0
...              ...              ...
11153197    11153197                0
11153198    11153198                0
11153199    11153199                0
11153200    11153200                0
11153201    11153201                0

[11153202 rows x 2 columns]

In [91]:
Start_df['StartHesitation']

0           0
1           0
2           0
3           0
4           0
           ..
11153197    0
11153198    0
11153199    0
11153200    0
11153201    0
Name: StartHesitation, Length: 11153202, dtype: int64

In [2]:
import pandas as pd
import numpy as np
from tqdm import tqdm



train_df = pd.read_parquet('train_features.parquet')
Start_df = pd.read_csv('Start_df.csv')
Turn_df = pd.read_csv('Turn_df.csv')
Walk_df = pd.read_csv('Walk_df.csv')

In [3]:
from sklearn.model_selection import GroupKFold, train_test_split
import pickle

x_train, x_test, y_train, y_test = train_test_split(train_df, Start_df['StartHesitation'], test_size=0.5, random_state= 42, stratify= Start_df['StartHesitation'])

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((5576601, 35), (5576601, 35), (5576601,), (5576601,))

In [21]:
x_train = x_train.to_numpy()
x_test = x_test.to_numpy()

In [22]:
x_train = x_train.reshape(x_train.shape[0], x_train.shape[1], 1)
x_test = x_test.reshape(x_test.shape[0], x_test.shape[1], 1)
x_train.shape, x_test.shape

((5576601, 35, 1), (5576601, 35, 1))

In [ ]:
# !pip install tensorflow

In [6]:
from tensorflow import keras
from tensorflow.keras import layers

In [7]:
def transformer_encoder(inputs, head_size, num_heads, ff_dim, dropout=0):
    # Normalization and Attention
    x = layers.LayerNormalization(epsilon=1e-6)(inputs)
    x = layers.MultiHeadAttention(
        key_dim=head_size, num_heads=num_heads, dropout=dropout
    )(x, x)
    x = layers.Dropout(dropout)(x)
    res = x + inputs

    # Feed Forward Part
    x = layers.LayerNormalization(epsilon=1e-6)(res)
    x = layers.Conv1D(filters=ff_dim, kernel_size=1, activation="relu")(x)
    x = layers.Dropout(dropout)(x)
    x = layers.Conv1D(filters=inputs.shape[-1], kernel_size=1)(x)
    return x + res

In [25]:
def build_model(
    input_shape,
    head_size,
    num_heads,
    ff_dim,
    num_transformer_blocks,
    mlp_units,
    dropout=0,
    mlp_dropout=0,
):
    inputs = keras.Input(shape=input_shape)
    x = inputs
    for _ in range(num_transformer_blocks):
        x = transformer_encoder(x, head_size, num_heads, ff_dim, dropout)

    x = layers.GlobalAveragePooling1D(data_format="channels_first")(x)
    for dim in mlp_units:
        x = layers.Dense(dim, activation="relu")(x)
        x = layers.Dropout(mlp_dropout)(x)
    outputs = layers.Dense(1, activation="sigmoid")(x)
    return keras.Model(inputs, outputs)

In [31]:
from sklearn.utils import class_weight

weights = class_weight.compute_class_weight(class_weight = 'balanced',
                                            classes = np.unique(y_train),
                                            y = y_train)

In [33]:
weights

array([ 0.51407137, 18.26656949])

In [36]:
input_shape = x_train.shape[1:]

model = build_model(
    input_shape,
    head_size=256,
    num_heads=4,
    ff_dim=4,
    num_transformer_blocks=4,
    mlp_units=[128],
    mlp_dropout=0.4,
    dropout=0.25,
)

model.compile(
    loss= keras.losses.BinaryCrossentropy(),
    optimizer=keras.optimizers.Adam(),
    metrics=[[keras.metrics.Precision(), keras.metrics.Accuracy(), keras.metrics.AUC(curve= 'PR')]],
)
model.summary()

callbacks = [keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)]

model.fit(
    x_train,
    y_train,
    validation_data=(x_test, y_test),
    epochs=200,
    batch_size=64,
    callbacks=callbacks,
    class_weight={i:weights[i] for i in range(len(weights))},
)

model.evaluate(x_test, y_test, verbose=1)

Model: "model_8"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_17 (InputLayer)          [(None, 35, 1)]      0           []

 layer_normalization_79 (LayerN  (None, 35, 1)       2           ['input_17[0][0]']
 ormalization)

 multi_head_attention_43 (Multi  (None, 35, 1)       7169        ['layer_normalization_79[0][0]',
 HeadAttention)                                                   'layer_normalization_79[0][0]']

 dropout_80 (Dropout)           (None, 35, 1)        0           ['multi_head_attention_43[0][0]']

 tf.__operators__.add_71 (TFOpL  (None, 35, 1)       0           ['dropout_80[0][0]',
 ambda)                                                           'input_17[0][0]']

 layer_normalization_80 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_71[0][0]']
 ormalization)

 conv1d_72 (Conv1D)             (None, 35, 4)        8           ['layer_normalization_80[0][0]']

 dropout_81 (Dropout)           (None, 35, 4)        0           ['conv1d_72[0][0]']

 conv1d_73 (Conv1D)             (None, 35, 1)        5           ['dropout_81[0][0]']

 tf.__operators__.add_72 (TFOpL  (None, 35, 1)       0           ['conv1d_73[0][0]',
 ambda)                                                           'tf.__operators__.add_71[0][0]']

 layer_normalization_81 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_72[0][0]']
 ormalization)

 multi_head_attention_44 (Multi  (None, 35, 1)       7169        ['layer_normalization_81[0][0]',
 HeadAttention)                                                   'layer_normalization_81[0][0]']

 dropout_82 (Dropout)           (None, 35, 1)        0           ['multi_head_attention_44[0][0]']

 tf.__operators__.add_73 (TFOpL  (None, 35, 1)       0           ['dropout_82[0][0]',
 ambda)                                                           'tf.__operators__.add_72[0][0]']

 layer_normalization_82 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_73[0][0]']
 ormalization)

 conv1d_74 (Conv1D)             (None, 35, 4)        8           ['layer_normalization_82[0][0]']

 dropout_83 (Dropout)           (None, 35, 4)        0           ['conv1d_74[0][0]']

 conv1d_75 (Conv1D)             (None, 35, 1)        5           ['dropout_83[0][0]']

 tf.__operators__.add_74 (TFOpL  (None, 35, 1)       0           ['conv1d_75[0][0]',
 ambda)                                                           'tf.__operators__.add_73[0][0]']

 layer_normalization_83 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_74[0][0]']
 ormalization)

 multi_head_attention_45 (Multi  (None, 35, 1)       7169        ['layer_normalization_83[0][0]',
 HeadAttention)                                                   'layer_normalization_83[0][0]']

 dropout_84 (Dropout)           (None, 35, 1)        0           ['multi_head_attention_45[0][0]']

 tf.__operators__.add_75 (TFOpL  (None, 35, 1)       0           ['dropout_84[0][0]',
 ambda)                                                           'tf.__operators__.add_74[0][0]']

 layer_normalization_84 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_75[0][0]']
 ormalization)

 conv1d_76 (Conv1D)             (None, 35, 4)        8           ['layer_normalization_84[0][0]']

 dropout_85 (Dropout)           (None, 35, 4)        0           ['conv1d_76[0][0]']

 conv1d_77 (Conv1D)             (None, 35, 1)        5           ['dropout_85[0][0]']

 tf.__operators__.add_76 (TFOpL  (None, 35, 1)       0           ['conv1d_77[0][0]',
 ambda)                                                           'tf.__operators__.add_75[0][0]']

 layer_normalization_85 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_76[0][0]']
 ormalization)

 multi_head_attention_46 (Multi  (None, 35, 1)       7169        ['layer_normalization_85[0][0]',
 HeadAttention)                                                   'layer_normalization_85[0][0]']

 dropout_86 (Dropout)           (None, 35, 1)        0           ['multi_head_attention_46[0][0]']

 tf.__operators__.add_77 (TFOpL  (None, 35, 1)       0           ['dropout_86[0][0]',
 ambda)                                                           'tf.__operators__.add_76[0][0]']

 layer_normalization_86 (LayerN  (None, 35, 1)       2           ['tf.__operators__.add_77[0][0]']
 ormalization)

 conv1d_78 (Conv1D)             (None, 35, 4)        8           ['layer_normalization_86[0][0]']

 dropout_87 (Dropout)           (None, 35, 4)        0           ['conv1d_78[0][0]']

 conv1d_79 (Conv1D)             (None, 35, 1)        5           ['dropout_87[0][0]']

 tf.__operators__.add_78 (TFOpL  (None, 35, 1)       0           ['conv1d_79[0][0]',
 ambda)                                                           'tf.__operators__.add_77[0][0]']

 global_average_pooling1d_8 (Gl  (None, 35)          0           ['tf.__operators__.add_78[0][0]']
 obalAveragePooling1D)

 dense_16 (Dense)               (None, 128)          4608        ['global_average_pooling1d_8[0][0
                                                                 ]']

 dropout_88 (Dropout)           (None, 128)          0           ['dense_16[0][0]']

 dense_17 (Dense)               (None, 1)            129         ['dropout_88[0][0]']

==================================================================================================
Total params: 33,481
Trainable params: 33,481
Non-trainable params: 0
__________________________________________________________________________________________________
Epoch 1/200
 1464/87135 [..............................] - ETA: 13:06:17 - loss: 176.0471 - precision_5: 0.0420 - accuracy: 0.4751 - auc_4: 0.0383